.about-us {

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;

    @include on-tablet {
      padding-top: 148px;
      padding-bottom: 148px;
    }
  }

  &__content {
    @include padding-inline;
  }
}
