.our-expertise {

  &__wrapper {
    background-color: $color-light;
    border-radius: 30px;
    padding-top: 72px;
    padding-bottom: 72px;

    @include on-tablet {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  &__content {
    @include padding-inline;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include on-small-desctop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 137px;
    }
  }

  &__header-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    text-align: center;

    color: $color-accent-dark;

    @include on-tablet {
      grid-column: span 6;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 56px;

    @include on-tablet {
      grid-column: 2 / 6;

      padding-top: 72px;
    }

    @include on-small-desctop {
      grid-column: span 1;
    }
  }

  &__img {
    width: 166px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    margin-top: 32px;

    color: $color-accent-dark;
  }


  &__description {
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    margin-top: 16px;

    color: $color-neutral;
  }
}
