.services {

  &__wrapper {
    padding-top: 120px;

    @include padding-inline;

    @include on-tablet {
      padding-top: 148px;
      &--translate {
        transform: translateY(-50%);
      }
    }

    @include on-small-desctop {
      display: grid;

      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }

  &__header {
    @include on-tablet {
      max-width: 266px;
    }

    @include on-small-desctop {
      grid-column: span 4;
    }
  }

  &__title-small {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: $color-text-light;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;

    color: $color-accent-dark;

    padding-top: 16px;
  }

  &__description {
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: $color-neutral;

    padding-top: 24px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 48px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      column-gap: 20px;
    }

    @include on-small-desctop {
      grid-column: 7 / -1;
    }
  }
}
